Repository skyoxu/gametp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins, @ViteGameStudio/electron, @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

ci(config): prevent cancel-in-progress on main to avoid higher priority cancellations
  .github/workflows/config-management.yml
Owners: @ViteGameStudio/ci-admins

ci(commitlint): add config to scope-enum to fix ci.yml range check on main (ADR-0005)
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci(workflows): add workflow_dispatch to selected workflows to allow manual dispatch via GH App (ADR-0005)
  .github/workflows/nightly-scene-transition.yml
  .github/workflows/observability-gate.yml
  .github/workflows/pr-gatekeeper.yml
  .github/workflows/pr-performance-check.yml
  .github/workflows/release-prepare.yml
  .github/workflows/staged-release.yml
  .github/workflows/tasks-governance.yml
Owners: @ViteGameStudio/ci-admins

ci(workflows): add workflow_dispatch to agents-lock and codeql to allow manual dispatch (ADR-0005)
  .github/workflows/agents-lock.yml
  .github/workflows/codeql.yml
Owners: @ViteGameStudio/ci-admins

ci(actionlint): remove duplicate workflow_dispatch keys in PR/Release workflows to satisfy actionlint
  .github/workflows/pr-performance-check.yml
  .github/workflows/release-prepare.yml
  .github/workflows/staged-release.yml
Owners: @ViteGameStudio/ci-admins

ci(actionlint): guard inputs usage and concurrency expressions in PR performance workflow
  .github/workflows/pr-performance-check.yml
Owners: @ViteGameStudio/ci-admins

chore(ci): trigger workflow run
  scripts/ci-trigger-stamp.txt
Owners: @ViteGameStudio/maintainers

ci(commitlint): allow workflows scope for history range check (ADR-0005)
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

chore(cleanup): purge cifix* temp files and remove refs from scripts/code; ensure workflows/scripts/tests have no dependency (ADR-0005)
  cifix.txt
  electron/security.ts
  scripts/cleanup-cifix-refs.mjs
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/electron

ci(quality-gates): add guard to block cifix* file references in workflows/scripts/tests; write logs to logs/<date>/guards (ADR-0005)
  .github/workflows/ci.yml
  scripts/ci/guard-no-cifix.mjs
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

docs: remove cifix references across docs/**; replace with neutral wording and remove temp-file mentions
  docs/P2-optimization-complete.md
  docs/P2-precise-optimization-complete.md
  scripts/ci/cleanup-docs-cifix.mjs
Owners: @ViteGameStudio/maintainers

chore(cleanup): remove one-off docs cleanup script to satisfy no-cifix guard in scripts/** (ADR-0005)
  scripts/ci/cleanup-docs-cifix.mjs
Owners: @ViteGameStudio/maintainers

ci(build-and-test): fix coverage-gate timeout-minutes YAML indentation to valid scalar (ADR-0005)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(build-and-test): retrigger pipeline via scripts/ci-trigger-stamp.txt (path-filter)
  scripts/ci-trigger-stamp.txt
Owners: @ViteGameStudio/maintainers

ci: touch ci.yml to force direct run via path filter
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(commitlint): allow cleanup scope for range check on main (ADR-0005); retrigger via stamp
  commitlint.config.cjs
  scripts/ci-trigger-stamp.txt
Owners: @ViteGameStudio/maintainers

deps: align react-dom to 19.2.0 to match react; fix Build & Test vitest runtime mismatch (ADR-0001)
  package-lock.json
  package.json
Owners: @ViteGameStudio/maintainers

fix(ci): sync lockfile with overrides to unblock npm ci
  package-lock.json
Owners: @ViteGameStudio/maintainers

ci(commitlint): ignore legacy multi-scope long header; add cache clean before commitlint; dedupe PR step
  .github/workflows/ci.yml
  commitlint.config.cjs
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

feat(config): raise engines to Node 22.x; fix lint warning in App
  docs/adr/ADR-0016-node-22-upgrade.md
  package.json
  src/app.tsx
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/frontend, @ViteGameStudio/gameplay

ci(node): unify GitHub Actions to Node 22.x\\n\\n- setup-node jobs: 20/20.x -> 22/22.x\\n- env NODE_VERSION vars to 22.x where used\\n\\nRefs: ADR-0016-node-22-upgrade
  .github/workflows/agents-lock.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-scene-transition.yml
  .github/workflows/observability-gate.yml
  .github/workflows/pr-gatekeeper.yml
  .github/workflows/pr-performance-check.yml
  .github/workflows/release.yml
  .github/workflows/security-unified.yml
  .github/workflows/validate-workflows.yml
Owners: @ViteGameStudio/ci-admins

ci: add JSON BOM guard and wire into CI; fix npm-install for Node 22 (Refs: ADR-0005-quality-gates)
  .github/actions/npm-install/action.yml
  .github/workflows/ci.yml
  package.json
  scripts/ci/guard-json-bom.py
  scripts/find_zero_byte_scripts.py
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins

ci: npm-install uses npm.cmd on Windows (fix Unknown-command-pm)
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

security: add overrides for debug, semver, qs; add audit helper scripts (Refs ADR-0005)
  package.json
  scripts/ci/list_risky_libs.py
  scripts/ci/run_npm_audit.py
Owners: @ViteGameStudio/maintainers

ci/security: add JSON BOM guard and npm audit snapshot to CI, PR gatekeeper, and release; upload logs (Refs ADR-0005)
  .github/workflows/ci.yml
  .github/workflows/pr-gatekeeper.yml
  .github/workflows/release.yml
  .github/workflows/staged-release.yml
Owners: @ViteGameStudio/ci-admins

ci: unify Node to 22.x across workflows; set npm-install action default to 22.x
  .github/actions/npm-install/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/config-management.yml
  .github/workflows/pr-performance-check.yml
  .github/workflows/release-emergency-rollback.yml
  .github/workflows/release-monitor.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-ramp.yml
  .github/workflows/release.yml
  .github/workflows/soft-gates.yml
  .github/workflows/tasks-governance.yml
  .github/workflows/validate-workflows.yml
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins

fix: qs override 6.14.0
  package.json
Owners: @ViteGameStudio/maintainers

ci(npm-install): harden with Node helper (ci→install fallback, retries, logs); avoid pwsh parsing issues
  .github/actions/npm-install/action.yml
  scripts/ci/npm-install.mjs
Owners: @ViteGameStudio/maintainers

ci: replace direct npm ci with hardened npm-install action; add step summary on failure
  .github/actions/npm-install/action.yml
  .github/workflows/staged-release.yml
  .github/workflows/tasks-governance.yml
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins

ci: bound npm audit with timeout, write fallback JSON to prevent hang
  scripts/ci/run_npm_audit.py
Owners: @ViteGameStudio/maintainers

ci: sbom job uses hardened npm-install (lean) with npm_config_omit=dev to avoid lock mismatch
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(commitlint): ignore legacy headers (ci/security, security as type, ci(node)) to unblock gate
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci: trigger CI pipeline run
  scripts/ci/ci-ping.txt
Owners: @ViteGameStudio/maintainers

chore(deps): security patches via Dependabot plan
  package-lock.json
  package.json
Owners: @ViteGameStudio/maintainers

﻿fix(security): address code scanning alerts (ReDoS, sanitization, randomness)
  scripts/batch-fix-remaining-chunks.js
  scripts/comprehensive-prd-chunks-fix.js
  scripts/csp-dynamic-validator.mjs
  scripts/observability-integration.mjs
  scripts/web-vitals-gate.mjs
Owners: @ViteGameStudio/maintainers

chore(scripts): add security and GitHub App automation tools
  docs/maintainers/GITHUB_APP_SETUP.md
  scripts/apply_updates_and_pr.py
  scripts/fetch_security_alerts.py
  scripts/generate_dependency_update_plan.py
  scripts/github_app_token.py
  scripts/open_pr_for_dependency_update.py
  scripts/scan_zero_bytes.py
  scripts/security_verify_local.py
  scripts/show_lines.py
  scripts/summarize_code_scanning.py
Owners: @ViteGameStudio/maintainers

﻿ci(commitlint): sanitize BOM in commit messages before linting (no rules weakened)
  .github/workflows/ci.yml
  scripts/ci/commitlint-range-sanitized.mjs
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

﻿ci(commitlint): use default exports and pass parserOpts/plugins to commitlint API
  scripts/ci/commitlint-range-sanitized.mjs
Owners: @ViteGameStudio/maintainers

ci(commitlint): respect ignore rules in commitlint-range script (Refs ADR-0005)
  scripts/ci/commitlint-range-sanitized.mjs
Owners: @ViteGameStudio/maintainers

ci(workflows): fix GITHUB_OUTPUT write by compressing JSON (perf-weekly) to one line
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

.github/CODEOWNERS:

# Code owners for reviews and governance

# Default owners
*       @ViteGameStudio/maintainers

# CI workflows
.github/workflows/* @ViteGameStudio/ci-admins

# Electron main/preload
electron/** @ViteGameStudio/electron

# App source
src/** @ViteGameStudio/frontend @ViteGameStudio/gameplay

# Tests
tests/** @ViteGameStudio/qa
