Repository skyoxu/gametp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins, @ViteGameStudio/electron, @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

fix: repair ci workflows for snyk bump
  .github/workflows/ci.yml
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

docs: fix pull request template encoding
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @ViteGameStudio/maintainers

fix: rebuild security summary output to satisfy actionlint
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

fix: rebuild security summary output to satisfy actionlint
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

docs: fix pull request template encoding
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @ViteGameStudio/maintainers

fix: repair ci workflows for snyk bump
  .github/workflows/ci.yml
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

fix: ensure npm install uses resolved executable path
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

chore: strip BOM from workflow manifests
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

chore: harden npm install verification
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

chore: normalize workflow files to LF
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/validate-workflows.yml
Owners: @ViteGameStudio/ci-admins

chore: relax security scan exit codes (ADR-0002 ADR-0004 ADR-0005)
  .github/workflows/security-unified.yml
  src/app.tsx
  src/shared/observability/sentry-scrub.ts
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/frontend, @ViteGameStudio/gameplay

chore: add observability config baselines (ADR-0003)
  config/development.json
  config/production.json
  config/staging.json
Owners: @ViteGameStudio/maintainers

chore: enforce pwsh default for CodeQL workflow (ADR-0011)
  .github/workflows/codeql.yml
Owners: @ViteGameStudio/ci-admins

fix: unblock docs shell guard on Windows (ADR-0011, ADR-0005)
  .github/docs/encoding-best-practices.md
  .github/workflows/validate-workflows.yml
  docs/ci-cd/github-actions-job-naming-standards.md
  docs/maintainers/POWERSHELL_EQUIVALENTS.md
  docs/技术架构文档_AI优先增强版.md
  docs/技术架构文档_AI优先增强版_文件5_开发环境与功能实现.md
  scripts/release/README.md
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins

test: fix lint blockers in playwright suites (ADR-0005)
  scripts/fuses.d.ts
  src/shared/observability/sentry-scrub.ts
  tests/e2e/perf.smoke.spec.ts
  tests/e2e/security/error-leak.spec.ts
  tests/e2e/security/protocol-404.spec.ts
  tests/e2e/security/redlines.navigation.spec.ts
  tests/e2e/smoke.electron.spec.ts
  tests/e2e/smoke/electron-launch-demo.spec.ts
  tests/e2e/smoke/perf.spec.ts
  tests/global-teardown.ts
  tests/helpers/electronEntry.ts
  tests/helpers/ensureDomReady.ts
  tests/helpers/launch.ts
  tests/helpers/renderer-types.ts
  tests/perf/ipc-latency.spec.ts
  tests/policy/observability.spec.ts
  tests/unit/ci/guard-tests-ascii.spec.ts
  tests/unit/db.checkpoint.spec.ts
  tests/unit/electron/security.spec.ts
  tests/unit/fuses.evaluate.spec.ts
  tests/unit/fuses.verify.spec.ts
  tests/unit/observability/sentry-scrub.spec.ts
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

chore: add task schema for gate validation (ADR-0005)
  tasks/schema.json
  tasks/tasks.json
Owners: @ViteGameStudio/maintainers

ci: register json-schema meta for task validator (ADR-0005)
  scripts/validate-task-links.mjs
Owners: @ViteGameStudio/maintainers

chore: align task schema with draft-07 for validator
  scripts/validate-task-links.mjs
  tasks/schema.json
Owners: @ViteGameStudio/maintainers

ci: force c++20 toolchain for native rebuilds (ADR-0005)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

chore: support (?i) flags in task alias regex
  scripts/validate-task-links.mjs
Owners: @ViteGameStudio/maintainers

chore: scrub sentry regex control chars (ADR-0003)
  docs/maintainers/CI-CD-MAINTENANCE.md
  src/shared/observability/sentry-scrub.ts
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/frontend, @ViteGameStudio/gameplay

chore: document card regex boundaries (ADR-0003)
  src/shared/observability/sentry-scrub.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

fix(e2e): unblock perf smoke gate with otel stubs
  src/components/PerfTestHarness.tsx
  src/shared/observability/stubs/opentelemetry-api.ts
  src/shared/observability/stubs/opentelemetry-exporter-jaeger.ts
  src/shared/observability/stubs/opentelemetry-resources.ts
  src/shared/observability/stubs/opentelemetry-sdk-node.ts
  src/shared/observability/stubs/opentelemetry-sdk-trace-base.ts
  src/shared/observability/stubs/opentelemetry-semantic-conventions.ts
  tests/e2e/smoke/perf.spec.ts
  tsconfig.app.json
  vite.config.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa, @ViteGameStudio/maintainers

fix: stabilize perf smoke auto-hide (ADR-0003, ADR-0005)
  src/components/PerfTestHarness.tsx
  tests/e2e/smoke/perf.spec.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

chore: normalize otel stub newline (ADR-0005)
  src/shared/observability/stubs/opentelemetry-api.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

chore: fix otel stub formatting for lint (ADR-0005)
  src/shared/observability/stubs/opentelemetry-api.ts
  src/shared/observability/stubs/opentelemetry-resources.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

fix: make otel stubs erasable for CI build (ADR-0005)
  src/shared/observability/stubs/opentelemetry-api.ts
  src/shared/observability/stubs/opentelemetry-sdk-trace-base.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

fix: restore scene transition playwright project (ADR-0005)
  playwright.config.ts
Owners: @ViteGameStudio/maintainers

fix: align release build env for C++20 (ADR-0005)
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

chore: document C++20 env for release build (ADR-0005)
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

chore: pin node-gyp flags for release C++20 rebuild (ADR-0005)
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

chore: lock node-gyp VS lookup to 2022 (ADR-0005)
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

chore: patch tree-sitter gyp to enforce c++20 (ADR-0005)
  package.json
  scripts/ci/patch-tree-sitter.js
Owners: @ViteGameStudio/maintainers

chore: add lightweight ci trigger note
  docs/misc/trigger-ci.md
Owners: @ViteGameStudio/maintainers

fix: skip release copy when dist output exists (ADR-0005)
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

ci(windows): fix commitlint YAML, Playwright install, TruffleHog handling for stable Windows CI
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-scene-transition.yml
  .github/workflows/security-unified.yml
  docs/maintainers/CI-CD-MAINTENANCE.md
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(infra): fix commitlint YAML, Playwright install, TruffleHog handling for stable Windows CI
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-scene-transition.yml
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

ci(infra): correct Windows E2E artifact check to use productName.exe
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

ci(infra): skip commitlint for dependabot[bot] to avoid false negatives
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(agents): add AGENTS.md lock guard workflow with allow-labels
  .github/workflows/agents-lock.yml
  scripts/ci/agents-lock.mjs
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

.github/CODEOWNERS:

# Code owners for reviews and governance

# Default owners
*       @ViteGameStudio/maintainers

# CI workflows
.github/workflows/* @ViteGameStudio/ci-admins

# Electron main/preload
electron/** @ViteGameStudio/electron

# App source
src/** @ViteGameStudio/frontend @ViteGameStudio/gameplay

# Tests
tests/** @ViteGameStudio/qa
