Repository skyoxu/gametp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins, @ViteGameStudio/electron, @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

ci(npm-install): stream npm ci output (tee) instead of ProcessStart to prevent pipe deadlocks; keep retries and fallback
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

ci(npm-install): explicitly exit 0 on success to avoid leftover non-zero 0 from checks
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

ci(npm-install): fix composite action metadata (restore branding: icon/color at root level)
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

ci(release): ensure release logs directory exists before tee/transcript to avoid path not found
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

ci(release): pass GH_TOKEN to electron-builder packaging steps (dir/NSIS) to avoid publish failures when tag is defined
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

fix(release): convert scripts/fuses.js to ESM (compatible with package.json type=module)
  scripts/fuses.js
Owners: @ViteGameStudio/maintainers

fix(release): detect renamed Electron binary (<ProductName>.exe) in win-unpacked and use ESM-safe __dirname resolution
  scripts/fuses.js
Owners: @ViteGameStudio/maintainers

ci: lean/full npm-install + release speed-up (skip packaging on main); fix BOM and ESLint logs (ADR-0005)
  .github/actions/eslint-prefx/action.yml
  .github/actions/npm-install/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/pr-performance-check.yml
  .github/workflows/release-emergency-rollback.yml
  .github/workflows/release-monitor.yml
  .github/workflows/release-prepare.yml
  .github/workflows/release-ramp.yml
  .github/workflows/release.yml
  .github/workflows/security-unified.yml
  .github/workflows/soft-gates.yml
  cifix.txt
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins

ci: actionlint formatting guard + robust fuses verification (skip when API unavailable)
  scripts/fuses.js
Owners: @ViteGameStudio/maintainers

ci: fix actionlint duplicate 'with' keys for npm-install steps
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(build): fix npm-install exit code handling and tee behavior; stabilize lean/full retries
  .github/actions/npm-install/action.yml
  cifix.txt
Owners: @ViteGameStudio/maintainers

ci(build): fix npm-install arg passing (use $argv instead of $args)
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

ci(build): ensure rollup native package before vite build (Windows)
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins

ci(test): ensure rollup native package before vitest coverage on Windows
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins

ci(test): ensure rollup native package before vitest coverage (unit job)
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins

fix(ci): add @testing-library/dom peer dep to unblock vitest (ADR-0005, ADR-0004)
  package-lock.json
  package.json
Owners: @ViteGameStudio/maintainers

test(security): extract navigation helper to avoid electron in unit tests ADR-0002 ADR-0005
  electron/security-helpers.ts
  electron/security.ts
  tests/unit/security.params.spec.ts
Owners: @ViteGameStudio/electron, @ViteGameStudio/qa

fix(e2e): ensure electron binary recovery before launch ADR-0002 ADR-0005
  tests/helpers/launch.ts
Owners: @ViteGameStudio/qa

ci(release): ensure rollup native package and keep optional deps ADR-0005 ADR-0011
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

ci: activate CI by bumping trigger flag
  package.json
Owners: @ViteGameStudio/maintainers

ci(ci): relax commitlint body length and allow scopes e2e/test/npm-install (ADR-0005)
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci: enable workflow_dispatch for CI/CD Pipeline
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(release): stabilize CycloneDX generation on Windows by omitting dev deps (ADR-0005)
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

ci(npm-install): ensure @rollup/rollup-win32-x64-msvc after lean/full installs to fix vitest/rollup error (ADR-0005, ADR-0011)
  .github/actions/npm-install/action.yml
Owners: @ViteGameStudio/maintainers

ci: trigger CI/CD Pipeline via package.json touch
  package.json
Owners: @ViteGameStudio/maintainers

ci(security): add .trufflehog-exclude.txt to stabilize TruffleHog on Windows (ADR-0005)
  .trufflehog-exclude.txt
Owners: @ViteGameStudio/maintainers

ci(security): trigger Security Gate workflow via package.json touch
  package.json
Owners: @ViteGameStudio/maintainers

ci(security): set MSVC 2022 + C++20 flags for node-gyp on Windows runners (ADR-0005)
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

ci(perf-weekly): precreate perf-weekly.txt and guard parser to avoid missing file failures (ADR-0005)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(concurrency): disable cancel-in-progress to prevent push-triggered cancellations (ADR-0005)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(lint): fix Prettier errors in commitlint config and security-helpers; make ESLint pre-fix non-blocking in workflow-guardian (ADR-0005)
  .github/workflows/ci.yml
  commitlint.config.cjs
  electron/security-helpers.ts
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers, @ViteGameStudio/electron

ci(encoding): remove BOM from .github/workflows/ci.yml and add Python normalizer (ADR-0005)
  .github/workflows/ci.yml
  scripts/python/remove_bom.py
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci: widen commitlint scope whitelist (encoding, concurrency, perf-weekly) (ADR-0005)
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci: trigger CI/CD Pipeline by touching package.json
  package.json
Owners: @ViteGameStudio/maintainers

ci(security): install production deps only in build-and-package to avoid node-gyp rebuild of dev modules (ADR-0005)
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

ci(security): remove node_modules/tree-sitter before electron-builder to prevent node-gyp rebuild in CI (ADR-0005)
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

ci(security): harden packaging to avoid node-modules collector crash (omit dev deps, remove @zilliz) and disable npmRebuild (ADR-0005)
  .github/workflows/security-unified.yml
  electron-builder.yml
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(security): prune MCP/* and modelcontext packages from runtime deps before packaging (CI-only) (ADR-0005)
  .github/workflows/security-unified.yml
  scripts/ci/prune-pack-deps.mjs
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(security): normalize electron-builder output from electron-dist/win-unpacked to dist/win-unpacked (ADR-0005)
  .github/workflows/security-unified.yml
Owners: @ViteGameStudio/ci-admins

test(security): make Electron entry resolution resilient to missing packaged exe by falling back to built main.js (ADR-0005)
  tests/helpers/launch.ts
Owners: @ViteGameStudio/qa

.github/CODEOWNERS:

# Code owners for reviews and governance

# Default owners
*       @ViteGameStudio/maintainers

# CI workflows
.github/workflows/* @ViteGameStudio/ci-admins

# Electron main/preload
electron/** @ViteGameStudio/electron

# App source
src/** @ViteGameStudio/frontend @ViteGameStudio/gameplay

# Tests
tests/** @ViteGameStudio/qa
