Repository skyoxu/gametp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins, @ViteGameStudio/electron, @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

.github/CODEOWNERS:

# Code owners for reviews and governance

# Default owners
*       @ViteGameStudio/maintainers

# CI workflows
.github/workflows/* @ViteGameStudio/ci-admins

# Electron main/preload
electron/** @ViteGameStudio/electron

# App source
src/** @ViteGameStudio/frontend @ViteGameStudio/gameplay

# Tests
tests/** @ViteGameStudio/qa

ci(infra): fix perf-smoke fallback to Playwright Electron; exclude sqlite.bak from TS typecheck; add GH App log downloader (local tooling)
  scripts/ci/perf-smoke.mjs
  scripts/tools/ghapp-download-logs.mjs
  scripts/tools/ghapp_download_logs.py
  tsconfig.app.json
  tsconfig.shared.json
Owners: @ViteGameStudio/maintainers

ci(size-limit): remove optional antd-vendor budget to prevent false failure when chunk not emitted
  .size-limit.json
Owners: @ViteGameStudio/maintainers

ci(commitlint): skip on dependabot branches for push/PR to avoid false gates
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(extended-tests): ensure NODE_ENV=development and NPM_CONFIG_PRODUCTION=false for devDependencies on matrix job
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(extended-tests): allow failures on non-20.x matrix and extend timeout to 25m (Node engines >=20<21)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(sbom): install prod-only (npm ci --omit=dev) to avoid dev-only invalid packages breaking cyclonedx-npm on Windows
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(sbom): force npm ls to omit dev via npm_config_omit=dev during cyclonedx to avoid ELSPROBLEMS on Windows
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(concurrency+matrix): do not cancel PR runs; restrict extended tests to Node 20.x (align with engines)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(dependabot): ignore transitive 'ip' updates to avoid unknown_error in Dependabot action; classify as workflow-level issue
  .github/dependabot.yml
Owners: @ViteGameStudio/maintainers

ci(release): harden NSIS packaging step (preinstall NSIS + cache cleanup + retry)
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

ci(release): fix ASCII guard by replacing non-ASCII dash in NSIS logs
  .github/workflows/release.yml
Owners: @ViteGameStudio/ci-admins

chore(scripts): add Python helpers to scan/fix ASCII (workflows), actionlint-safe-format, and ESLint auto-fix with logs
  package.json
  scripts/python/fix_actionlint.py
  scripts/python/fix_eslint.py
  scripts/python/fix_workflows_ascii.py
Owners: @ViteGameStudio/maintainers

ci(validate-workflows): run ASCII pre-fix before encoding/ascii guards; make actionlint fixer robust with fallback
  .github/workflows/validate-workflows.yml
  scripts/python/fix_actionlint.py
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(quality-gates): add non-blocking ESLint pre-fix step (Windows) writing logs to logs/<date>/eslint
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci: upload ESLint pre-fix logs in quality-gates; add non-blocking ESLint pre-fix to build-and-test
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(prefx): add composite actions (eslint/ascii/actionlint) with env toggles; wire into CI + PR; upload ESLint logs
  .github/actions/actionlint-prefx/action.yml
  .github/actions/eslint-prefx/action.yml
  .github/actions/workflows-ascii-prefx/action.yml
  .github/workflows/agents-lock.yml
  .github/workflows/build-and-test.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/pr-gatekeeper.yml
  .github/workflows/release.yml
  .github/workflows/security-unified.yml
  .github/workflows/soft-gates.yml
  .github/workflows/validate-workflows.yml
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins

docs(guide): document CI pre-fix toggles/logs; ci(validate-workflows): add non-blocking actionlint pre-fix
  .github/workflows/validate-workflows.yml
  docs/maintainers/TEMPLATE_GUIDE.md
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(validate-workflows): upload actionlint pre-fix logs as artifacts (Windows)
  .github/workflows/validate-workflows.yml
Owners: @ViteGameStudio/ci-admins

ci(validate-workflows): upload workflows ASCII pre-fix logs as artifacts across encoding/ascii guards
  .github/workflows/validate-workflows.yml
Owners: @ViteGameStudio/ci-admins

fix(release): handle BOM in init-template loader and strip BOM before init step to avoid JSON.parse failure
  .github/workflows/release.yml
  scripts/init-template.mjs
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(actionlint): run pre-fix before actionlint and add fallback artifact upload; release: avoid vars/|| in env by using constant TSA_URL
  .github/workflows/release.yml
  .github/workflows/validate-workflows.yml
Owners: @ViteGameStudio/ci-admins

ci(quality-gates): restore ESLint pre-fix step with id to satisfy actionlint and artifact upload
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

fix(build-and-test): strip BOM before build to avoid PostCSS config JSON.parse failure on Windows runners
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins

chore(lint): prefix unused variables with _ in app/components to satisfy no-unused-vars
  src/app.tsx
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

chore(lint): prefix _isPending/_loadGame/_colors and _lang to silence no-unused-vars warnings
  src/components/game/GameNotifications.tsx
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

chore(lint): remove stray compiled .js; _-prefix unused vars; add /* noop */ to empty blocks; wrap case declarations; use type-only Phaser imports
  src/components/GameCanvas.tsx
  src/components/GameVerticalSlice.tsx
  src/components/LazyGame.tsx
  src/components/game/GameSettingsPanel.tsx
  src/game/GameEngineAdapter.ts
  src/game/__tests__/GameStateManager.test.ts
  src/game/__tests__/SceneManager.test.ts
  src/game/__tests__/__mocks__/phaser.ts
  src/game/factory.ts
  src/game/scenes/BaseScene.ts
  src/game/scenes/GameScene.ts
  src/game/scenes/MenuScene.ts
  src/game/scenes/TestScene.ts
  src/game/state/StateSynchronizer.ts
  src/hooks/useEventLoopDelay.ts
  src/shared/observability/longtask-monitor.ts
  src/shared/observability/sentry-main.ts
  src/shared/observability/sentry-perf.ts
  src/shared/observability/sentry-renderer.ts
  src/shared/performance/idle.ts
  tests/e2e/smoke/i18n-settings.smoke.spec.ts
  tests/unit/db.checkpoint.spec.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

chore(lint): reduce warnings by prefixing unused vars/params and removing unused imports
  src/game/SceneManager.ts
  src/game/scenes/TestScene.ts
  src/hooks/useGameStateEvents.ts
  src/hooks/useWebVitals.ts
  src/preload/bridge.ts
  src/shared/observability/enterprise-monitoring-platform.ts
  src/shared/observability/sentry-renderer.ts
  src/shared/performance/idle.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

refactor(i18n): split core/hooks to remove Fast Refresh warnings
  src/i18n/core.ts
  src/i18n/hooks.ts
  src/i18n/index.ts
  src/i18n/index.tsx
  src/shared/adapters/sqlite.bak/__tests__/config-manager.spec.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

style(i18n): fix Prettier formatting after i18n split
  src/i18n/core.ts
  src/i18n/hooks.ts
  src/i18n/index.tsx
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

ci(ci): allow i18n in commitlint scope enum
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci(ci): relax commitlint rules for template history
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

fix(game): import Phaser as value in MenuScene for runtime Math.* usage
  src/game/scenes/MenuScene.ts
Owners: @ViteGameStudio/frontend, @ViteGameStudio/gameplay

chore(repo): ignore .e2e-build-cache and remove tracked file
  .e2e-build-cache
  .gitignore
  commit-msg-2.txt
  commit-msg-3.txt
  commit-msg-4.txt
  commit-msg-5.txt
  commit-msg.txt
  src/hooks/useWebVitals.ts
  src/shared/devtools/performance-devtools.ts
  src/shared/middleware/__tests__/cloud-events-validator.spec.ts
  src/shared/middleware/cloudevents-validation.ts
  src/shared/observability/__tests__/observability-test-suite.ts
  src/shared/observability/config-validator.main.ts
  src/shared/observability/cost-optimization-manager.ts
  src/shared/observability/enterprise-alerting-system.ts
  src/shared/observability/enterprise-monitoring-platform.ts
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/frontend, @ViteGameStudio/gameplay

chore(repo): remove temporary commit message files and ignore pattern
  .gitignore
  commit-msg-2.txt
  commit-msg-3.txt
  commit-msg-4.txt
  commit-msg-5.txt
  commit-msg.txt
Owners: @ViteGameStudio/maintainers

ci(build-and-test): add concurrency + path filters; run E2E only on PR
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins

ci(build-and-test): make npm ci resilient to native addons
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins

ci(eslint-prefx): tolerate missing Python launcher on Windows runners
  .github/actions/eslint-prefx/action.yml
Owners: @ViteGameStudio/maintainers

chore(ci): harden Windows pre-fix actions and npm install
  .github/actions/actionlint-prefx/action.yml
  .github/actions/npm-install/action.yml
  .github/actions/workflows-ascii-prefx/action.yml
  .github/workflows/ci.yml
Owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins

ci(e2e): install Playwright browsers in electron-security-gate
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci: enable manual dispatch and widen paths for Build & Test
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins
