Repository skyoxu/gametp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ViteGameStudio/maintainers, @ViteGameStudio/ci-admins, @ViteGameStudio/electron, @ViteGameStudio/frontend, @ViteGameStudio/gameplay, @ViteGameStudio/qa

ci(security): trigger Security Gate (Unified) via package.json touch
  package.json
Owners: @ViteGameStudio/maintainers

test(security): make electronEntry helper fall back to built main.js when packaged exe is missing (ADR-0005)
  tests/helpers/electronEntry.ts
Owners: @ViteGameStudio/qa

ci(lint-prefx): mark ESLint pre-fix step as non-blocking in workflow-guardian to prevent regressions (ADR-0005)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci: remove duplicate continue-on-error in ESLint pre-fix step (syntax-check)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(security): trigger Security Gate (Unified) via package.json touch
  package.json
Owners: @ViteGameStudio/maintainers

ci: allow commit scope lint-prefx to avoid regressions from pre-fix step updates (ADR-0005)
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci: trigger all main-branch workflows (update package.json, add workflows/TOUCH.md, scripts/ci/_trigger_all_workflows.txt)
  .github/workflows/TOUCH.md
  package.json
  scripts/ci/_trigger_all_workflows.txt
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(ci): stabilize CI on SonarCloud bump branch (no cancel-in-progress; ESLint pre-fix non-blocking; renderer guard tolerant)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(ci): add Java 17 setup for SonarCloud@v5 to fix workflow error (ADR-0005, ADR-0003)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(ci): fix duplicate 'with' block for setup-java (YAML parse error)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(ci): remove extra 'with' on quality gate step (fix duplicated key)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(ci): harden ESLint pre-fix script for Windows (local bin first, timeouts, limited scope, logs to logs/) [ADR-0005]
  scripts/python/fix_eslint.py
Owners: @ViteGameStudio/maintainers

ci(ci): cap ESLint pre-fix runtime (CI_PREFX_TIMEOUT_SEC=60) to prevent guardian job timeout
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

chore(infra): ignore GitHub App private keys (*.private-key.pem)
  .gitignore
Owners: @ViteGameStudio/maintainers

ci: make PR branch rebaseable and stable (ESLint pre-fix timeout; SonarCloud v5; remove duplicate 'with')
  .github/workflows/ci.yml
  .gitignore
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(infra): add GitHub App helpers to automate PR creation (Windows-friendly)
  scripts/ci/github-app-create-pr.mjs
  scripts/ci/github-app-token.mjs
Owners: @ViteGameStudio/maintainers

ci(infra): add PR admin helper (close PR / delete branch via GitHub App)
  scripts/ci/github-app-pr-admin.mjs
Owners: @ViteGameStudio/maintainers

ci(infra): adjust GitHub App token scope (remove administration)
  scripts/ci/github-app-pr-admin.mjs
Owners: @ViteGameStudio/maintainers

ci(quality-gates): avoid PR timeouts by skipping ESLint pre-fix on PR and increasing job timeout to 10m (non-blocking step)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(quality-gates): avoid PR timeouts by skipping ESLint pre-fix on PR and increasing job timeout to 10m (non-blocking step)
  .github/workflows/ci.yml
Owners: @ViteGameStudio/ci-admins

ci(infra): add PR admin helper (close PR / delete branch via GitHub App)
  scripts/ci/github-app-pr-admin.mjs
Owners: @ViteGameStudio/maintainers

ci(infra): add GitHub App helpers to automate PR creation (Windows-friendly)
  scripts/ci/github-app-create-pr.mjs
  scripts/ci/github-app-token.mjs
Owners: @ViteGameStudio/maintainers

ci: make PR branch rebaseable and stable (ESLint pre-fix timeout; SonarCloud v5; remove duplicate 'with')
  .github/workflows/ci.yml
  .gitignore
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(infra): adjust GitHub App token scope (remove administration)
  scripts/ci/github-app-pr-admin.mjs
Owners: @ViteGameStudio/maintainers

ci(e2e-perf): prewarm Electron binary and increase CI readiness tolerance (readyState, selectors) to avoid perf smoke timeout
  .github/workflows/build-and-test.yml
  tests/helpers/launch.ts
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/qa

ci(e2e-perf): repair/prewarm Electron in CI (install.js + reinstall fallback) to prevent install failure
  .github/workflows/build-and-test.yml
Owners: @ViteGameStudio/ci-admins

ci(quality-gates): allow e2e-perf scope for commitlint range check on main (ADR-0005)
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci(build-and-test): trigger ci.yml via package.json touch (_trigger_ci)
  package.json
Owners: @ViteGameStudio/maintainers

scripts(infra): add GH App fetcher to download run logs via App key (ADR-0005)
  scripts/python/gh_app_fetch_run_logs.py
Owners: @ViteGameStudio/maintainers

scripts(infra): fix GH App logs fetcher headers, API version and redirect handling; use UTC-aware datetimes (ADR-0005)
  .github/workflows/tasks-governance.yml
  scripts/python/gh_app_fetch_run_logs.py
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci: trigger pipeline (no-op marker under scripts/ci/trigger-ci.txt)
  scripts/ci/trigger-ci.txt
Owners: @ViteGameStudio/maintainers

ci(commitlint): allow additional types deps and scripts (ADR-0005)
  cifix.txt
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci: trigger pipeline after commitlint rule update
  scripts/ci/trigger-ci.txt
Owners: @ViteGameStudio/maintainers

ci: retrigger pipeline after commitlint fix
  scripts/ci/trigger-ci-2025-10-16T2310.txt
Owners: @ViteGameStudio/maintainers

ci(ci): touch ci.yml to re-enable and add GH App workflow dispatcher (ADR-0005)
  .github/workflows/ci.yml
  cifix.txt
  scripts/python/gh_app_dispatch_workflow.py
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

ci(commitlint): relax scope-empty to avoid false negatives on range check (ADR-0005)
  cifix.txt
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci(commitlint): allow commitlint scope in scope-enum to fix range check (ADR-0005)
  commitlint.config.cjs
Owners: @ViteGameStudio/maintainers

ci(security): make TruffleHog step non-fatal when no verified secrets but nonzero exit code; always reset LASTEXITCODE=0 (ADR-0005)
  .github/workflows/security-unified.yml
  scripts/python/_tmp_ci_check.py
Owners: @ViteGameStudio/ci-admins, @ViteGameStudio/maintainers

deps: align size-limit to ^11.2.0 to resolve peer with @size-limit/file in config-management (ADR-0005)
  package-lock.json
  package.json
Owners: @ViteGameStudio/maintainers

ci(config): add workflow_dispatch trigger to Configuration Management workflow
  .github/workflows/config-management.yml
Owners: @ViteGameStudio/ci-admins

.github/CODEOWNERS:

# Code owners for reviews and governance

# Default owners
*       @ViteGameStudio/maintainers

# CI workflows
.github/workflows/* @ViteGameStudio/ci-admins

# Electron main/preload
electron/** @ViteGameStudio/electron

# App source
src/** @ViteGameStudio/frontend @ViteGameStudio/gameplay

# Tests
tests/** @ViteGameStudio/qa
